{% extends 'accounts/_base.html' %}
{% load static %}
{% block title %}Sign in{% endblock %}

{% block content %}
<div class="row">
    <div class="one-half column" style="margin-top: 10%">
        <h2>Sign in:</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign in</button>
        </form>
        <br>
        Don't have an account?:
        <a class="button button-warning" href="{% url 'signup' %}">Sign up</a>
    </div>
</div>
{% endblock %}